@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 42, 255); /* Achtergrondkleur kaart */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #fff; /* Algemene tekstkleur */
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 35px;
    margin-bottom: 35px;
}


h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    cursor: default;
    color: #fff; /* Kleur titel */
}

h3 {
    color: #aa1660; /* Kleur subtitels */
    font-weight: 600;
}

span {
    color: #71093d; /* Kleur accenten */
    cursor: pointer;
    font-weight: 500;
}

table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
   
    border-radius: 12px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    font-weight: 600;
    background-color: rgba(152, 11, 119, 0.7); /* Achtergrondkleur tabelkop */
    color: #fff; /* Tekstkleur tabelkop */
}



tr:not(thead>tr):hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.highlight-column {
    background-color: rgba(255, 249, 252, 0.864);
}

a {
    color: #ff3399; /* Kleur links */
    text-decoration: none;
}
